<head>
    <title>سوالات سیاسی</title>
</head>
{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <br><h4 class="text-center">سوالات سیاسی</h4><hr>
    {% for post in posts %}
        <br>
        <div dir='rtl' class="d-flex justify-content-center">
            <div class="col-9">
                {% ifequal post.category '4' %}
                <div class="card text-right" style="background-color: #eeeeee">
                    <p class="card-header bg-white"><a href="{% url 'account:dashboard' post.user.id %}"> {{ post.user }} </a></p>
                    <p class="card-body" style="width: 400px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                        {{ post.body }}
                    </p>
                    <button class="col-4 btn bg-info" type='button'><a class="text-white" href="{{ post.get_absolute_url }}"> رفتن به سوال</a></button>
                </div>
                {% endifequal %}
            </div>
        </div>

    {% endfor %}

{% endblock %}
