<nav class="jumbotron text-center">
    <ul class="nav nav-tabs flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">دسته بندی سوالات</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">پروفایل</a>
        </li>
        <li class="nav-item">
            <form dir="rtl" class="form-inline" action="#">
                <input class="form-control mr-sm-2" type="search" placeholder="جست و جو">
                <button class="btn btn-success" type="submit">بگرد</button>
            </form>
        </li>
    </ul>
</nav>