{#<nav class="jumbotron text-center">#}
{#    <ul class="nav nav-tabs flex-column">#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="#">دسته بندی سوالات</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="#">پروفایل</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <form dir="rtl" class="form-inline" action="#">#}
{#                <input class="form-control mr-sm-2" type="search" placeholder="جست و جو">#}
{#                <button class="btn btn-success" type="submit">بگرد</button>#}
{#            </form>#}
{#        </li>#}
{#    </ul>#}
{#</nav>#}

<!-- Sidebar -->
        <nav dir="rtl" class="navbar-dark" style="background-color: lightgrey; height: 250px">
            <br><br>
            <div class='sidebar-nav' id="navbarNavAltMarkup">
                <ul class="text-right" style="list-style-type: none">
                    <li dir="ltr">
                        <div class="btn-group dropleft">
                          <button type="button" class="btn dropdown-toggle text-dark" data-toggle="dropdown">
                            دسته بندی سوالات
                          </button>
                          <div class="dropdown-menu text-center">
                            <!-- Dropdown menu links -->
                              <a class="text-dark" style="text-decoration: none" href="{% url 'posts:ejtemaei' %}">اجتماعی</a>
                              <hr>
                              <a class="text-dark" style="text-decoration: none" href="{% url 'posts:eghtesadi' %}">اقتصادی</a>
                              <hr>
                              <a class="text-dark" style="text-decoration: none" href="{% url 'posts:darsi' %}">درسی</a>
                              <hr>
                              <a class="text-dark" style="text-decoration: none" href="{% url 'posts:siyasi' %}">سیاسی</a>
                              <hr>
                              <a class="text-dark" style="text-decoration: none" href="{% url 'posts:farhango honar' %}">فرهنگ و هنر</a>
                          </div>
                        </div>
                    </li>
                    <li> <a class="nav-link text-dark" href="#">کاربران</a> </li>
{#                    <li> <a class="nav-link text-dark" href="#">Shortcuts</a> </li>#}
{#                    <li> <a class="nav-link text-dark" href="#">Overview</a> </li>#}
                    <li class="nav-item">
                        <form dir="rtl" class="form-inline" action="#">
                            <input class="form-control mr-sm-2" type="search" placeholder="جست و جو">
                            <button class="btn btn-success" type="submit">بگرد</button>
                        </form>
                        <br>
                    </li>
                </ul>
            </div> <!-- /#sidebar-wrapper -->
        </nav> <!-- /#wrapper -->