{#<nav class="jumbotron text-center">#}
{#    <ul class="nav nav-tabs flex-column">#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="#">دسته بندی سوالات</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="#">پروفایل</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <form dir="rtl" class="form-inline" action="#">#}
{#                <input class="form-control mr-sm-2" type="search" placeholder="جست و جو">#}
{#                <button class="btn btn-success" type="submit">بگرد</button>#}
{#            </form>#}
{#        </li>#}
{#    </ul>#}
{#</nav>#}

<!-- Sidebar -->
        <nav dir="rtl" class="navbar-dark" style="background-color: #ce6262; height: 250px">
            <br><br>
            <div class='sidebar-nav' id="navbarNavAltMarkup">
                <ul class="text-right" style="list-style-type: none">
                    <li dir="ltr">
                        <div class="btn-group dropleft">
                          <button type="button" class="btn dropdown-toggle text-white" data-toggle="dropdown">
                            دسته بندی سوالات
                          </button>
                          <div class="dropdown-menu text-center">
                            <!-- Dropdown menu links -->
                              <a class="text-dark" style="text-decoration: none" href="{% url 'posts:ejtemaei' %}">اجتماعی</a>
                              <hr>
                              <a class="text-dark" style="text-decoration: none" href="{% url 'posts:eghtesadi' %}">اقتصادی</a>
                              <hr>
                              <a class="text-dark" style="text-decoration: none" href="{% url 'posts:darsi' %}">درسی</a>
                              <hr>
                              <a class="text-dark" style="text-decoration: none" href="{% url 'posts:siyasi' %}">سیاسی</a>
                              <hr>
                              <a class="text-dark" style="text-decoration: none" href="{% url 'posts:farhango honar' %}">فرهنگ و هنر</a>
                          </div>
                        </div>
                    </li>
                    <li> <a class="nav-link text-white" href="{% url 'account:all_account' %}">کاربران</a> </li>
                    <li class="nav-item">
                        <form dir="rtl" class="form-inline mt-2" action="{% url 'posts:all_posts' %}">
                            <input class="form-control mr-sm-2" type="search" placeholder="جست و جو" name="query-search">
                            <button class="btn btn-success" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </button>
                        </form>
                        <br>
                    </li>
                </ul>
            </div> <!-- /#sidebar-wrapper -->
        </nav> <!-- /#wrapper -->