{% extends 'base.html' %}

{% block title %} {{ user.username }} profile {% endblock %}

{% block content %}
    <div class="jumbotron" dir="rtl">
        <h4 class="text-center">{{ user.username|capfirst }}</h4><br>
{#        <p class="text-right" style="display: inline"> {{ user.profile.bio }} </p>#}
{#        <p style="display: inline" align="right">اضافه</p>#}
        <div style="overflow: hidden;">
            {% if user.profile.bio %}
                <p style="float: right;">{{ user.profile.bio }}</p>
            {% endif %}
            {% if self_dash %}
            <a class="btn btn-info" href="{% url 'posts:add_post' request.user.id %}" style="float: left;">
                پرسش جدید
            </a>
            <a class="btn btn-secondary ml-2" href="{% url 'account:edit_profile' request.user.id %}">
                ویرایش پروفایل
            </a>
            {% endif %}
        </div><br><br>
        {% for post in posts %}
            <div class="card text-right">
                <p class="card-body"><a href="{{ post.get_absolute_url }}">{{ post.body }}</a></p>
            </div>
        {% empty %}
            <p class="text-center">این کاربر سوال پرسیده شده ای ندارد</p>
        {% endfor %}<br>
        {% if self_dash %}
            <a class="btn btn-danger ml-2" href="{% url 'account:user_delete' request.user.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-x" viewBox="0 0 16 16">
                  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  <path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                </svg>
            </a>
        {% endif %}
    </div>
{% endblock %}